:root {
  --primary-color: rgb(0, 52, 242);
  --secondary-color: rgb(255, 145, 0);
  --background-color: rgb(0, 121, 241);
  --text-color-normal: #272121;
  --box-shadow: 0px 2px 10px #00000056;
  --base-white-color: #ffffff;

  --shade-color1: rgb(218, 119, 119);
  --shade-color2: rgb(184, 17, 17);
  --shade-color3: rgb(185, 46, 46);
  --shade-color4: red;
  --shade-color5: rgb(196, 239, 79);
  --shade-color6: rgb(118, 249, 74);
  --bg-color-gray: rgb(201, 201, 201);

  --pink-color: rgb(209, 105, 183);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color-normal);
}

/* Header */

header {
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  padding: 20px 0;
}

.header-container {
  background-color: var(--background-color);
  /*box-shadow: var(--box-shadow);*/

  display: flex;
  justify-content: space-between;

  max-width: 1100px;
  margin: 0 auto;
}

.brand {
  color: var(--secondary-color);
  font-size: 1.5rem;
}

.logo-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: flex;
    align-items: center;
    img {
      width: 40px;
      margin-right: 10px;
    }
  }
}

.header-button {
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 15px;
  list-style: none;

  margin-left: 20px;

  a {
    text-decoration: none;
    color: var(--base-white-color);
    font-weight: bold;
  }

  a:hover {
    color: var(--secondary-color);
  }
}

/*    Button Style    */
.btn-primary {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--base-white-color);
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-signup,
.btn-login {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;

  font-size: 1rem;
  font-weight: bold;

  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-signup {
  color: var(--base-white-color);
  background: linear-gradient(
    to right,
    var(--shade-color1),
    var(--shade-color2)
  );
}

.btn-login {
  color: var(--base-white-color);
  background: linear-gradient(
    to right,
    var(--shade-color1),
    var(--shade-color2)
  );
}
.btn-login:hover {
  color: var(--base-white-color);
  background: linear-gradient(
    to right,
    var(--shade-color1),
    var(--shade-color6)
  );
}
.btn-signup:hover {
  color: var(--base-white-color);
  background: linear-gradient(
    to right,
    var(--shade-color4),
    var(--shade-color6)
  );
}
/*.btn-login {
    padding: 10px 20px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    background-color: var(--base-white-color);
    color: var(--secondary-color);
    cursor: pointer;
    transition: all 0.3s ease;
}*/

.btn-primary:hover {
  background-color: var(--secondary-color);
}

/*    Main Section    */

.container {
  max-width: 1100px;
  margin: 30px auto;
  padding: 0 20px;
}

/*    HERO Section    */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-side {
  width: 60%;

  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--primary-color);
  }

  p {
    font-size: 1.2rem;
    margin: 20px 0;
  }
}

.right-side {
  width: 40%;

  img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1/1;
  }
}

/*  SaaS Solution Section    */
.bg-gray {
  background-color: var(--bg-color-gray);
  padding: 20px 0;
}

.solution {
  margin-top: 50px;
  padding: 50px 20px;
}

.solution-header {
  text-align: center;
  margin-bottom: 20px;

  h2 {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 20px;
  }
  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
}

.solution-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.item {
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  background-color: var(--base-white-color);
  padding: 20px;

  h3 {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 10px;
  }
  p {
    font-size: 1rem;
    margin-bottom: 10px;
  }
}

/*    Customize Section    */

.customize {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

/*   Dedicated  Support Section    */

.support {
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-direction: row-reverse;
  gap: 30px;

  padding: 20px 0;
}

/*    Discover Section    */

.discover {
  margin-top: 50px;
}

.discover-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/*    Footer Section    */

footer {
  background-color: var(--primary-color);
  padding: 40px 20px;
  color: var(--base-white-color);
}

.footer-container {
  display: flex;
  justify-content: space-between;

  max-width: 1200px;
  margin: auto;
}

.footer-left {
  .logo {
    display: flex;
    align-items: center;

    margin-bottom: 20px;
  }
  img {
    width: 40px;
    height: auto;
  }
  h3 {
    font-size: 2rem;

    color: var(--secondary-color);
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
}

.footer-right {
  display: flex;
  gap: 20px;
}

.footer-item {
  h4 {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    li {
      margin-bottom: 4px;

      a {
        text-decoration: none;
        color: var(--base-white-color);
      }

      a:hover {
        color: var(--secondary-color);
      }
    }
  }
}

/*=========Form=========*/

.recometation-form {
  max-width: 800px;
  margin: 0 auto;
}

.form-row {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.form-group {
  flex: 1;
}

.form-group label {
  font-size: 0.95rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  display: block;
}

.form-input,
.form-select,
.form-textarea {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 2px solid gray;
  border-radius: 8px;
  font-size: 1rem;
  background-color: var(--base-white-color);
}

.form-input:focus,
.form-select:focus,
.form-textarea:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 3px var(--bg-color-gray);
  outline: none;
}

.radio-group,
.checkbox-group{
    display: flex;
    gap: 1rem;

    flex-wrap: wrap;

    margin-bottom: 1.5rem;
}

.radio-item ,
.checkbox-item{
  border: 1px solid var(--bg-color-gray);
  border-radius: 8px;
  padding: 0.75rem 0.5rem;
  font-size: 0.9erm;

  display: flex;
  align-items: center;
  gap: 8px;

  cursor: pointer;
}

.radio-item input,
.checkbox-item {
    accent-color: var(--pink-color);
}

.radio-item input:checked + span,
.checkbox-item input:checked + span{
    color: var(--primary-color);
}

.radio-item:hover, .checkbox-item:hover{
    border: 2px solid var(--primary-color)
}

.form-btn{
    display: flex;
    gap: 20px;

    justify-content: center;

    padding: 32px 0;
    border-top: 2px solid var(--primary-color);
}

.btn-submit,
.btn-reset{
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    border: none;

    cursor: pointer;

    font-weight: 600;
}

.btn-submit{
    background-color: var(--base-white-color);
  background: linear-gradient(
    to right,
    var(--shade-color1),
    var(--shade-color2)
  );
}

.btn-reset{
    background-color:  var(--base-white-color);
  background: linear-gradient(
    to right,
    var(--shade-color1),
    var(--shade-color2)
  );
}

.btn-submit:hover{
    background-color:  var(--base-white-color);
  background: linear-gradient(
    to right,
    var(--shade-color1),
    var(--shade-color6)
  );
    
}

.btn-reset:hover{
    background-color: var(--base-white-color);
  background: linear-gradient(
    to right,
    var(--shade-color4),
    var(--shade-color6)
  );
    
}



.form-textarea {
    resize: vertical;
}


.form-title{
    text-align: center;
    margin-bottom: 30px;
}

/*=====responsive styles=====*/

@media (max-width: 768px) {
    .header-button{display: none;}

    .hero ,
    .customize,
    .support{
        flex-direction: column;
    }
    .left-side,
    .right-side{
        width: 100%;
    }
    .solution-content,
    .discover-content {
  display: grid;
  grid-template-columns: 1fr;
}




.order-text{
    order:1;
}
.order-photo{
    order:1;
    margin-bottom: 30px;
}


.footer-right{
    display: grid;
    grid-template-columns: repeat(2,1fr);

    width: 80%;

}

}

@media (max-width: 576px) {
    nav{
        display: none;
    }

    .form-row,
    .radio-group,
    .checkbox-group{
        flex-direction: column;
    }

    .radio-item,
    .checkbox-item{
        border: none;

        padding: 4px 8px;
    }

    /* แสดง hamburger */

    /* กำหนดขนาด/พื้นที่ของปุ่ม */
    #burger-menu {
        display: block;
        cursor: pointer;
        height: 25px;
        width: 30px;
        position: relative;
        z-index: 1000;
        /* ให้อยู่เหนือเมนูเต็มจอ */
    }


    /* วาด “เส้น 3 ขีด” ด้วย span + pseudo elements */
    #burger-menu span,
    #burger-menu span:before,
    #burger-menu span:after {
        background: #fff;
        display: block;
        height: 3px;
        width: 100%;
        position: absolute;
        transition: 0.3s ease;
        content: "";
    }


    /* จัดตำแหน่ง 3 เส้น (บน/กลาง/ล่าง) */

    /* วางเส้น “กลาง” ไว้กลาง ๆ ปุ่ม */
    #burger-menu span {
        top: 11px;
    }

    /* ให้มัน “ขยับขึ้น” ไปเป็นเส้นบน */
    #burger-menu span:before {
        top: -8px;
    }

    /* ขยับลงไปเป็นเส้นล่าง */
    #burger-menu span:after {
        top: 8px;
    }



    /* (----เพิ่ม----) ให้กล่อง header เป็นจุดอ้างอิงเมนู */
    .header-container {
        position: relative;
    }


/* แก้ตรงนี้ใหม่ -----  ซ่อนเมนู */
   
    #menu {
        /* เปลี่ยนจาก display:none เป็นกล่องลอยแบบ absolute */
        display: none;

        flex-direction: column;
        background: #286d9b;
        /* ยังซ่อนเหมือนเดิม */

        position: absolute;
        /* สำคัญ: ลอยเมนู */

        top: calc(100% + 10px);
        /* ใต้แถบ header */

        right: 0;
        /* ชิดขวา ใกล้ burger */

        width: 290px;
        /* ✅ กว้างขึ้น */

        padding: 10px;        
        border-radius: 14px;
        box-shadow: 0 14px 35px rgba(0, 0, 0, 0.25);
        z-index: 999;


        /* max-width: 92vw; */
        /* กันล้นจอบนมือถือ */
    }

  /*==== (end เพิ่ม) ==== */


    /* เปิดเมนูเมื่อ active  แสดงเมนูขึ้นมา*/
    #menu.overlay {
        display: flex;
    }

    /* Animation เมื่อกด */

    /* ทำให้เส้น “กลาง” หายไป (โปร่งใส) */
    #burger-menu.close span {
        background: transparent;
    }

    /* เส้นบน rotate(45deg) หมุนเฉียงไปทางขวา */
    /* top: 0; ทำให้ทั้งสองเส้น “มาซ้อนกันตรงกลาง” ก่อนหมุน */
    #burger-menu.close span:before {
        transform: rotate(45deg);
        top: 0;
    }

    /* เส้นล่าง rotate(-45deg) หมุนเฉียงไปทางซ้าย */
    #burger-menu.close span:after {
        transform: rotate(-45deg);
        top: 0;
    }

/* ----------------------------------- */

    /* Navbar */

    .nav-menu {
        flex-direction: column;
        display: block;
    }

    .nav-menu li {
        width: 100%;
        padding: 8px 15px;
        border-radius: 8px;
    }

    .nav-menu li a {
        display: block;
    }

    .nav-menu li:hover {
        background-color: var(--base-white-color);
    }

    .nav-menu li:hover a {
        color: var(--primary-color);
    }

}
